<div class="row">
  <div class="col-md-4">
    <%=image_tag @book.book_img.url(:book_show), class: "book-show"%>
  </div>
  <div class="col-md-8">
    <h2><%=@book.title + " - "+ @book.category.name%></h2>
    <h3><%=@book.author%></h3>
    <h5><%=@book.description%></h5>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%=render @book.reviews%>
    <div class="">
      <%=link_to "Add review", new_book_review_path(@book)%>
    </div>
  </div>
</div>

<%if user_signed_in?%>
<%if @book.user_id == current_user.id%>
<%= link_to "Edit "+@book.title, edit_book_path(@book)%> |
<%= link_to "Delete "+@book.title, book_path(@book), method: :delete, data: {confirm: "Seguro de eliminar"+@book.title}%> |
<%end%>
<%end%>
<%= link_to "Go Back!", root_path%>
